@import "tailwindcss";

:root {
  --text-color: #121212;
  --text-color2: #2a2a2a;
  --bg-purple: #6c24e0;
}
img{
  max-width: 100%;
}
@theme inline {
  --color-primary: var(--text-color);
  --color-secondary: var(--text-color2);
  --color-purple: var(--bg-purple);
}

body {
  color: var(--text-color);
  font-family: 'Inter', 'Inter Fallback', sans-serif;
}
